In [16]:
import pandas as pd
import numpy as np
# from matplotlib import pyplot as plt
# %matplotlib inline

In [17]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [18]:
data=pd.read_csv("Real_estate.csv")
data

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1
...,...,...,...,...,...,...,...,...
409,410,2013.000,13.7,4082.01500,0,24.94155,121.50381,15.4
410,411,2012.667,5.6,90.45606,9,24.97433,121.54310,50.0
411,412,2013.250,18.8,390.96960,7,24.97923,121.53986,40.6
412,413,2013.000,8.1,104.81010,5,24.96674,121.54067,52.5
413,414,2013.500,6.5,90.45606,9,24.97433,121.54310,63.9

In [19]:
data.isna().sum()

No                                        0
X1 transaction date                       0
X2 house age                              0
X3 distance to the nearest MRT station    0
X4 number of convenience stores           0
X5 latitude                               0
X6 longitude                              0
Y house price of unit area                0
dtype: int64

In [20]:
data =data.drop(data.columns[[0,1,-3,-2]],axis=1)
data_numpy=data.to_numpy()
data_numpy

array([[ 32.     ,  84.87882,  10.     ,  37.9    ],
       [ 19.5    , 306.5947 ,   9.     ,  42.2    ],
       [ 13.3    , 561.9845 ,   5.     ,  47.3    ],
       ...,
       [ 18.8    , 390.9696 ,   7.     ,  40.6    ],
       [  8.1    , 104.8101 ,   5.     ,  52.5    ],
       [  6.5    ,  90.45606,   9.     ,  63.9    ]])

In [21]:

data_numpy[:,-1][:,np.newaxis].min()

7.6

In [22]:
train,test=80,20
train_len=int(len(data_numpy)*(80/100))
test_len=int(len(data_numpy)*(20/100))
test_len+train_len

413

In [23]:
X_train=data_numpy[:train_len,0:data_numpy.shape[1]-1]
y_train=data_numpy[:train_len,-1][:,np.newaxis]
X_test=data_numpy[train_len:test_len+train_len,0:data_numpy.shape[1]-1]
y_test=data_numpy[train_len:test_len+train_len,-1][:,np.newaxis]
print(X_train.shape,X_test.shape,y_train.shape,y_test.shape)
# print(X_train,X_test,y_train,y_test)

(331, 3) (82, 3) (331, 1) (82, 1)

In [24]:
reg = LinearRegression().fit(X_train, y_train)

In [25]:
reg.score(X_train, y_train)

0.5305756874061797

In [26]:
reg.coef_

array([[-0.2728775 , -0.00529075,  1.34939254]])

In [34]:
prediction=reg.predict(X_test)

In [35]:
prediction

array([[12.12935211],
       [31.59767138],
       [47.09157387],
       [36.22688061],
       [41.88821273],
       [34.4556211 ],
       [38.05447286],
       [45.21047317],
       [47.56483635],
       [32.42568644],
       [38.21052029],
       [53.13813049],
       [41.70112002],
       [17.26314569],
       [42.04651783],
       [33.06326903],
       [ 5.30238687],
       [48.49489814],
       [47.09157387],
       [43.56828544],
       [34.4491097 ],
       [27.90225342],
       [34.59572371],
       [33.85170743],
       [46.70668707],
       [40.44761884],
       [53.37871748],
       [49.79956227],
       [28.75407887],
       [47.08194109],
       [41.03780549],
       [38.64067036],
       [47.12586759],
       [39.59149202],
       [31.73969106],
       [30.97058755],
       [31.96001817],
       [37.55433336],
       [30.00265937],
       [43.90504437],
       [47.00028793],
       [42.38893025],
       [42.92723006],
       [46.23460328],
       [30.97950962],
       [32.62982165],
       [52.49575378],
       [40.53402081],
       [49.5737563 ],
       [44.39622387],
       [52.28781998],
       [19.90562509],
       [37.80668852],
       [17.1189445 ],
       [51.08931551],
       [42.04651783],
       [31.52575199],
       [33.67277625],
       [42.01464386],
       [44.22272449],
       [32.42239905],
       [37.12401906],
       [38.69524586],
       [13.59717738],
       [39.92837851],
       [29.39294251],
       [38.68758467],
       [32.62982165],
       [40.01131829],
       [39.90727174],
       [33.49434196],
       [39.91950573],
       [45.88340291],
       [43.76860561],
       [44.15469315],
       [49.98596715],
       [28.86322987],
       [30.51619956],
       [17.69222477],
       [53.16541824],
       [45.27470715],
       [47.00971062]])

In [29]:
# Assuming y_test and y_pred are your true labels and predictions, respectively
mse = mean_squared_error(y_test, prediction)
mse

61.42686313655081

In [41]:
predictions = reg.predict(np.array([[13.3,561.9845,5]]))
predictions

array([[43.17195073]])

In [46]:
np.sum(((y_test-prediction)**2))/y_test.shape[0]

61.42686313655081

In [44]:


# Assuming y_true and y_pred are your true labels and predictions, respectively
r2 = r2_score(y_test, prediction)
print("R-squared (R2) score:", r2)

R-squared (R2) score: 0.579056706615324